@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #191919;
  --logo-color: #f01313;
  --font-family: "Poppins";
  --logo-color: #f01313;
  --logo-color: #f01313;
  --logo-color: #f01313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url(images/background2.jpg) !important;
  background-size: cover;
  background-position: center;
}
nav h3 {
  font-size: 32px;
  color: var(--primary-color);
  letter-spacing: 1px;
  line-height: 30px;
  font-family: var(--font-family);
}
nav h3 span {
  font-family: var(--font-family);
  font-size: 35px;
  color: var(--logo-color);
}
nav h3 a {
  text-decoration: none;
  color: var(--primary-color);
  letter-spacing: 3px;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: 100;
}
nav {
  display: flex;
  width: 85%;
  margin: auto;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
  position: relative;
}
nav ul li a {
  font-size: 16px;
  color: var(--primary-color);
  letter-spacing: 2px;
  text-decoration: none;
  font-family: var(--font-family);
}
nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
.textpara {
  color: #fff;
  font-size: 2.6rem;
  margin-left: 16rem;
  margin-top: 10rem;
  letter-spacing: 1px;
  font-family: "Times New Roman", Times, serif;
}
.btn {
  margin-top: 1rem;
  margin-left: 16rem;
}
.btn button {
  width: 300px;
  height: 50px;
  background: none;
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
}
.btn button a {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  text-shadow: 5px;
  font-family: "Times New Roman", Times, serif;
}
.footer-section {
  width: 100%;
  padding-inline: 4rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 10px;
}
.mail-contact p a {
  text-decoration: none;
  color: var(--primary-color);
  letter-spacing: 2px;
}
.socail-media a i {
  color: var(--primary-color);
  letter-spacing: 25px;
  font-size: 1.5rem;
  position: relative;
}
.socail-media a i:hover {
  transform: scale(1.6);
}

.contact-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(images/background2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}
.contact-page form {
  width: 650px;
  height: 450px;
  margin: auto;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px var(--secondary-color);
  padding: 10px 30px;
  box-sizing: border-box;
  font-family: var(--font-family);
  position: relative;
}
.contact-page h2 {
  padding-bottom: 10px;
  width: 200px;
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}
.contact-page input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: var(--font-family);
  transition: all 0.3s;
  border-bottom: 2px solid #bbb;
}
.contact-page input:focus {
  border-bottom: 2px solid #bbb;
}
.contact-page p:before {
  content: attr(type);
  display: block;
  margin: 20px 0 0;
  font-size: 15px;
  color: #191919;
}
.contact-page button {
  float: right;
  padding: 10px 50px;
  margin: 40px 0 0;
  font-family: var(--font-family);
  border: 2px solid #78788c;
  background: 0;
  color: #78788c;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-page button:hover {
  background: #78788c;
  color: var(--secondary-color);
}
.contact-page div {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: var(--primary-color);
  width: 350px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px var(--secondary-color);
}
.contact-page div span {
  margin: 0 15px 0 25px;
}
.contact-page div a {
  text-decoration: none;
  color: var(--primary-color);
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(images/background2.jpg);
  background-size: cover;
  background-position: center;
}
.gallery {
  width: 98%;
  display: flex;
  margin: 1.5rem auto;
}
.imglist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.images-collection {
  width: 280px;
  height: 200px;
}
.images-collection:hover {
  transition: 10ms;
  transform: scale(1.1);
}
.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.full-img img {
  width: 90%;
  max-width: 500px;
}
.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
}

.bg2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url(images/background2.jpg) !important;
  background-size: cover;
  background-position: center;
}
.bg2 h1 {
  padding-top: 1rem;
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  margin: 1rem auto;
  border-radius: 8px;
}
.box {
  width: 30%;
  height: 350px;
  background: #f7f3f2;
  justify-content: space-between;
  margin: 50px;
  border-radius: 10px;
}
.box img {
  width: 100%;
  height: 180px;
}
.box h3 {
  margin: 10px;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--font-family);
  color: var(--secondary-color);
}
.box p {
  text-align: center;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  font-family: var(--font-family);
  letter-spacing: 1px;
}
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
}
.btn1 button {
  width: 150px;
  border-radius: 10px;
  height: 30px;
  background: transparent;
  color: #fff;
  border: 1px solid;
  cursor: pointer;
  transition: 0.5s;
}
.btn1 button a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.btn1 button:hover {
  background: #fff;
  border: none;
}
.btn1 button a:hover {
  color: black;
}

nav .fa-solid {
  display: none;
}

.bg-about {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/background2.jpg);
  background-size: cover;
  background-position: center;
}
.aboutxt {
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 5rem;
  font-family: var(--font-family);
}
.aboutxt p {
  font-size: 0.9rem;
  padding: 1rem 10rem;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
  nav .fa-solid {
    display: block;
    font-size: 30px;
    color: #fff;
    padding-right: 10px;
  }
  nav ul.bar {
    background: #191919;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul.bar li {
    display: block;
    margin: 30px;
  }
  nav ul.bar .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav ul li a {
    font-size: 18px;
  }
  .bg {
    width: 100%;
    min-height: 800px;
    max-height: 100%;
  }
  nav h3 {
    font-size: 35px;
  }
  nav h3 span {
    font-size: 40px;
  }
  nav h3 a {
    font-size: 30px;
    font-weight: 100;
  }
  .textpara {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 8rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .box {
    width: 300px;
    margin: 2rem auto;
  }
  .btn {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .footer-section {
    padding-inline: 1rem;
    padding-bottom: 0rem;
  }
  .btn button {
    width: 280px;
    height: 45px;
  }
  .btn button a {
    font-size: 16px;
  }
  .mail-contact {
    font-size: 12px;
  }
  .socail-media a i {
    letter-spacing: 12px;
    font-size: 25px;
    padding-bottom: 10px;
  }
  .contact-page {
    width: 100%;
    height: 900px;
  }
  .contact-page form {
    width: 330px;
    height: 480px;
    margin: auto;
    padding: 10px 20px;
  }
  .contact-page div {
    bottom: -25px;
    right: -15px;
    width: 330px;
    margin-right: 10px;
  }
  .bg2 {
    width: 100%;
    height: 100%;
  }

  .btn1 {
    padding-left: 120px;
    padding-bottom: 10px;
  }
  .aboutxt {
    padding-top: 1rem;
    letter-spacing: 1px;
}
  .bg-about {
    width: 100%;
    min-height: 1100px;
    max-height: 100%;
  }
  .aboutxt p {
    text-align: center;
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .textpara {
    font-size: 40px;
    padding-left: 50px;
  }
  .btn {
    padding-left: 50px;
    padding-top: 70px;
  }
  .btn button {
    width: 280px;
    height: 45px;
  }
  .btn button a {
    font-size: 20px;
  }
  .card {
    height: 950px;
  }
  .bg2 {
    height: 1100px;
  }
}
